@* @model SportClub.Models.MakeSheduleView
<span>Room 1:</span>
<br />
<br />
<div style="display:flex">
<div>
<table>
    <tr>
        <td>Понедельник</td>
        <td>Вторник</td>
        <td>Среда</td>
        <td>Четверг</td>
        <td>Пятница</td>
        <td>Суббота</td>
        <td>Воскрксенье</td>
    </tr>
    <tr>
        <td><select  class="form-control card _c7" size="14" asp-items="ViewBag.MondayId"></select></td>
        <td><select  class="form-control card _c7" size="14" asp-items="ViewBag.TuesdayId"></select></td>
        <td><select  class="form-control card _c7" size="14" asp-items="ViewBag.WednesdayId"></select></td>
        <td><select  class="form-control card _c7" size="14" asp-items="ViewBag.ThursdayId"></select></td>
        <td><select  class="form-control card _c7" size="14" asp-items="ViewBag.FridayId"></select></td>
        <td><select  class="form-control card _c7" size="14" asp-items="ViewBag.SaturdayId"></select></td>
        <td><select  class="form-control card _c7" size="14" asp-items="ViewBag.SundayId"></select></td>
    </tr>
    </table>
</div>
<div>

       <div class=" card c7">
            <h4>@Resources.Resource.Addition</h4>
            <form asp-controller="Time" method="post">
                

                <label>График</label>
                <select asp-for="newT.Id" size="14" class="form-control card _c7" asp-items="ViewBag.TimetableId"></select>

                <div class="form-group">
                    <input type="submit" formaction="AddTimetable" value="Сохранить график" class="btn btn-primary c2" />
                    <input type="submit" formaction="Cancel" value="отмена" class="btn btn-primary c2" />
                    <input type="submit" formaction="Exit" value="выход" class="btn btn-primary c2" />
                </div>
            </form>
            <input type="submit" formmethod="get" formaction="AddShedule" value="Сохранить график" class="btn btn-primary c2" />

        </div>
        <div class=" card c7">
            <h4> @Resources.Resource.Editing</h4>
            <form asp-controller="Time" method="post">
                <label>Выберите время для графика</label>
                <select asp-for="newT.Id" size="14" class="form-control card _c7" asp-items="ViewBag.TimeId"></select>

                <br />
                <div class="form-group">
                    <input type="submit" formmethod="get" formaction="AddTimesToTable" value="Добавить в график" class="btn btn-primary c2" />
                   
                </div>
            </form>
        </div>
    </div>
</div>*@