<span>Room 1:</span>
<br />
<br />
<div style="display:flex">
    <div>
        <table>
            <tr>
                <td>Понедельник</td>
                <td></td>
                <td>Вторник</td>
                <td></td>
                <td>Среда</td>
                <td></td>
                <td>Четверг</td>
                <td></td>
                <td>Пятница</td>
                <td></td>
                <td>Суббота</td>
                <td></td>
                <td>Воскрксенье</td>
                <td></td>
            </tr>
            <tr>
                <td><select class="form-control card _c7" size="14" asp-items="ViewBag.MondayId"></select></td>
                <td><a asp-action="AddTraining"> свободно</a> </td>
                <td><select class="form-control card _c7" size="14" asp-items="ViewBag.TuesdayId"></select></td>
                <td><a asp-action="AddTraining"> свободно</a></td>
                <td><select class="form-control card _c7" size="14" asp-items="ViewBag.WednesdayId"></select></td>
                <td><a asp-action="AddTraining"> свободно</a></td>
                <td><select class="form-control card _c7" size="14" asp-items="ViewBag.ThursdayId"></select></td>
                <td><a asp-action="AddTraining"> свободно</a></td>
                <td><select class="form-control card _c7" size="14" asp-items="ViewBag.FridayId"></select></td>
                <td><a asp-action="AddTraining"> свободно</a></td>
                <td><select class="form-control card _c7" size="14" asp-items="ViewBag.SaturdayId"></select></td>
                <td><a asp-action="AddTraining"> свободно</a></td>
                <td><select class="form-control card _c7" size="14" asp-items="ViewBag.SundayId"></select></td>
                <td><a asp-action="AddTraining"> свободно</a></td>
            </tr>
        </table>
    </div>
</div>
