@model SportClub.Models.CangePasswordModel
@using Microsoft.AspNetCore.Http

    <div class="center ">
        <div>
        <form class="card c22 login">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id"  />
                <span>Введите новый пароль</span><br />
            <input type="password" asp-for="Password" /><br />
            <span asp-validation-for="Password" class="text-danger"></span>
                <span>Подтвердите пароль</span><br />
            <input type="password" asp-for="PasswordConfirm" /><br />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    <div>
                        <input type="submit" class="y" formaction="SaveNewPassword" value="Изменить пароль" />
                    </div>
                          
        </form>
        </div>
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
