@model SportClub.BLL.DTO.UserDTO
@if (@Model == null)
{
    <span>Введен неверный пароль</span> <br />
}
else{
<form  method="post">
    <input type="hidden" value="@Model.Id" name="id" />
    <span>ВВедите свой старый пароль</span><br />
    <input type="password" name="pass" /><br />
    <input type="submit" formaction="PutPassword" value="Подтвердить" />
</form>
}
