@model SportClub.BLL.DTO.RoomDTO
<form method="post">
<div>
    <h3>Составить расписание зала</h3>
    <h4>Выберите спортзал</h4><br />
    <select asp-for="Id" style="width:200px;" class="form-control card _c7" asp-items="ViewBag.RoomsId"></select>
    </div><br />
    <input type="submit" asp-controller="Time" asp-action="GetAllTimetable" value="Выбрать" />
</form>